<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewreport" content="width=device-width , initial-scale=1.0">
        <title>Document</title> 
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('createbook') }}">create book</a>
            <a href="{{ url_for('search') }}">search</a>
        </nav>
        <table>
            <tr>
                {% for header in headings %}
                <th>{{header}}</th>
                {% endfor %}
                <th>{{header}}</th>
            </tr>
            {% for row in data %}
            <tr>
            {% for key in row %}
            <td>{{row[key]}}</td>
            {% endfor %}
            </tr>
            {% endfor %}
            <tr>
        </table>
    </body>
</html>